/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Установка максимальной ширины для адаптивности */
    width: 100%; /* Ширина 100% для мобильных устройств */
    overflow: auto; /* Добавление полос прокрутки */
}

h2 {
    text-align: center;
    color: #333;
}

/* Стили для формы */
.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-input,
.form-radio,
.form-checkbox,
.form-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-input:focus,
.form-radio:focus,
.form-checkbox:focus,
.form-button:focus {
    outline: none;
    border-color: #007bff;
}

.form-button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0056b3;
}

/* Стили для ошибок */
.error {
    color: red;
    margin-top: 5px;
}

/* Медиа-запросы для адаптивного дизайна */
@media screen and (max-width: 600px) {
    .form-container {
        padding: 10px;
    }
}
